* {
    box-sizing: border-box;
}

body {
    display: grid;
    width: 99.8%;
    grid-template-rows: 10.5em auto;
    background-color: #181B26;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

header {
    display: grid;
    grid-template-rows: 3em 3em 2em;
    color: white;
    background-color: #252753;
}

nav {
    transform: translateY(67%);
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 15% 15% 15% 15%;
    text-align: center;
    line-height: 50px;
}

nav a {
    background-color: #363863;
    text-decoration: none;
    color: white;
}

a {
    background-color: #2A2E3E;
    color: white;
}

.current {
    background-color: #1a1c3e;
}

.textbox{
    display: grid;
    grid-template-columns: 1fr 10fr 2fr 3fr;
}

.bgbox{
    display: grid;
    grid-template-columns: 1em 90% 1em;
    grid-template-rows: 3em auto 3em auto 3em auto+10em;
    background-color: #2A2E3E;
}

.bgbox hr{
    background-color: #3fb8b2;
    border-width: 0;
    transform: translate(-23%, 200%);
}

.selectbox{
    display: grid;
    grid-template-columns: 1fr 8fr;
    background-color: #2A2E3E;
    color: white;
    border-radius: 0 0 0 20px;
    height: 400px;
    width: 250px;
    transform:translate(50px, -20px);
}

hr{
    background-color: #19B457;
    border-width: 0;
    transform: translate(-23%, 200%);
}

h2{
    color: white;
}

p {
    color: white;
}

.subcategory {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.icon {
    transform: translate(85vw,-15vh);
}

.top {
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(137, 140, 169);
    display: inline-block;
    bottom:0;
    left:0;
    transform: translate(50%, -100%);
    text-align: center;
    line-height: 1em;
}

.top a{
    text-decoration: none;
    background-color: transparent;
}

.next {
    color: white;
    position: fixed;
    bottom: 3em;
    right: 5em;
}

.previous  {
    color: white;
    position: fixed;
    bottom: 3em;
    right: 10em;
}